<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="darkreader-lock">
  <style>
      body { background-color: #f6f6f7; color: #3c3c43; }
      a { color: #3451b2; }
      @media (prefers-color-scheme: dark) {
        body { background-color: #1b1b1f; color: #dfdfd6; }
        a { color: white; }
      }
      #timer { display: inline-block; }
  </style>
</head>
<body>

<p>
  Redirecting in <span id="timer">{{ timer }}</span> seconds: <a href="{{ url }}">{{ text }}</a>
</p>

<script type="text/javascript">
{% include("redirect.js") | safe %}
</script>

</body>
</html>
